@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');

html, body {
    background-color: #ffffff;
    font-family: "Inter", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table > tr > td {
    padding: 5px;
    vertical-align: baseline;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    border-bottom: 1px solid #d5d5d5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: block;
    height: 50px;
    padding: 20px;
}

.logo > img {
    height: 100%;
    display: block;
}

.nav {
    display: flex;
    align-items: center;
}

.navItem {
    text-decoration: none;
    color: black;
    padding-inline: 20px;
    font-size: 1.2rem;
}
.navItem:hover {
    color: #666666;
}

.fullWidthHeight {
    width: 100%;
    height: 100%;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullscreen {
    flex: 1;
    width: 100%;
}

.page {
    padding: 20px;
}

.infoCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.card {
    border: 1px solid #e5e5e5;
    padding: 20px;
    border-radius: 6px;
}

.flag {
    display: block;
}

.table {
    margin-top: 20px;
    font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
    .pageWrapper > h1 {
        font-size: 2rem;
    }

    .infoCards {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}